ABOUT-NLS
AUTHORS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
README
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libgettextdemo-test
libtool
ltmain.sh
m4
missing
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/*.gmo
po/*.header
po/insert-header.sin
po/*.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
*.la
*.lo
*.o
.deps
.libs
*~
